body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

/* Scale the active center testimonial */
.swiper-slide-active {
  transform: scale(1.05);
  transition: transform 0.5s;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
